@font-face {
    font-family: "yekanBakh-Regular";
    src: url('../fonts/YekanBakhFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "yekanBakh-Bold";
    src: url('../fonts/YekanBakhFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "yekanBakh-Regular";
    user-select: none;
}

.font-bold {
    font-family: "yekanBakh-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}
.transition{
    transition: all .4s;
}

/* object fit */
.object-cover {
    object-fit: cover;
}
/* rotate */
.-rotate-5{
    transform: rotate(-5deg);
}
/* z index */
.-z-1 {
    z-index: -1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}
/* max width */
.max-w-360{
    max-width: 360px;
    width: 100%;
}
.max-w-480{
    max-width: 480px;
    width: 100%;
}
.max-w-1056{
    max-width: 1056px;
    width: 100%;
}
/* border */
.border-main{
    border: 1px solid #2C3F56;
}
/* width */
.w-16{
    width: 16px;
}
.w-40{
    width: 40px;
}
.w-48{
    width: 48px;
}
.w-112 {
    width: 112px;
}
.w-144{
    width: 144px;
}
.w-178{
    width: 178px;
}
.w-193 {
    width: 193px;
}
/* height */
.h-16{
    height: 16px;
}
.h-40{
    height: 40px;
}
.h-48{
    height: 48px;
}
.h-71{
    height: 71px;
}
.h-112{
    height: 112px;
}
/* line height */
.lh-40{
    line-height: 40px;
}
/* color */
.text-main {
    color: #2C3F56 !important;
}
.text-second {
    color: #5956E8;
}
.text-gray{
    color: #666666;
}
/* font size */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-32 {
    font-size: 32px;
}
/* border radius */
.rounded-bl-2{
    border-bottom-left-radius: 2px!important;
}
.rounded-4 {
    border-radius: 4px;
}
.rounded-6 {
    border-radius: 6px;
}
.rounded-8 {
    border-radius: 8px;
}
.rounded-10 {
    border-radius: 10px;
}
.rounded-12 {
    border-radius: 12px;
}
.rounded-16 {
    border-radius: 16px;
}
.rounded-20 {
    border-radius: 20px;
}
.rounded-24 {
    border-radius: 24px;
}
/* opacity */

/* background */
.bg-main {
    background: #2C3F56;
}
.bg-second {
    background: #F0AC3A;
}
.bg-black{
    background-color: #232524 ;
}
.bg-gray{
    background-color: #F9F9F9;
}
/* transition */
.transition {
    transition: all .4s;
}
/* left */
.left-54{
    left: 54px;
}
.left-80{
    left: 80px;
}
/* top */
.top-auto{
    top: auto!important;
}
.top-117{
    top: 117px;
}
/* right */
.-right-auto{
    right: auto;
}
.-right-7{
    right: -7px;
}
.-right-12{
    right: -12px;
}
/* bottom */
.-bottom-65{
    bottom: -65px!important;
}
.bottom-116{
    bottom: 116px!important;
}
/* padding */
.pt-256{
    padding-top: 256px;
}
/* margin */
.mt-166{
    margin-top: 166px;
}
/* swiper */
.swiper-pagination-bullet{
    width: 6px;
    height: 6px;
    background-color: white;
    transition: all .4s;
}
.swiper-pagination-bullet-active{
    background-color: white;
}
.swiper-button-prev.after::after,.swiper-button-next.after::after{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
/* dropdown */
.dropdown-toggle::after {
    content: url('../img/arrow-down.png');
    border-top: 0;
    vertical-align: -4px;
    margin-left: 0;
}
/* global styles */
.outline-none {
    outline: none;
}
.opacity-none {
    opacity: 0;
}
.resize-none{
    resize: none;
}
.cursor-pointer {
    cursor: pointer;
}
.placeholder-white::placeholder{
  color: white;
}
.text-justify {
    text-align: justify;
}
.rtl{
    direction: rtl;
}
header a:hover,header ul a.active,footer ul a:hover{
    color: #2C3F56!important;
    stroke: #2C3F56!important;
}
.row{
    margin-left: 0!important;
    margin-right: 0!important;
}
/* accordion */
.accordion-btn svg{
    transition: all;
}
.accordion-btn.active svg{
    transform: rotate(180deg);
}
.accordion-content{
    transition: all .4s;
    max-height: 0;
    overflow: hidden;
}
.accordion-content.active{
    max-height: 1000px;
}
/* responsive */
@media only screen and (max-width:1400px) {
  
}

@media only screen and (max-width:1200px) {
 .left-xl-0{
    left: 0;
 }
}

@media only screen and (max-width:992px) {
   .w-lg-84{
    width: 84px;
   }
   .max-w-lg-100{
    max-width: 100%;
   }
}

@media only screen and (max-width:768px) {
}
@media only screen and (max-width:576px) {
    .h-sm-40{
        height: 40px;
    }
    .h-sm-88{
       height: 88px;
    }
    .w-sm-88{
       width: 88px;
    }
    .w-sm-112{
        width: 112px;
    }
    .h-sm-112{
        height: 112px;
    }
 .h-sm-184{
    height: 184px;
 }
 .fs-sm-11{
    font-size: 11px;
 }
 .fs-sm-12{
    font-size: 12px;
 }
 .fs-sm-13{
    font-size: 14px;
 }
 .fs-sm-14{
    font-size: 14px;
 }
}

@media only screen and (max-width:400px) {

}